[Unit]
Description=Voice-controlled Assistant
After=graphical.target

[Service]
Type=simple
Restart=always
RestartSec=30
ExecStart=/usr/bin/voice-assistant -t 900

[Install]
WantedBy=multi-user.target